.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid rgba(145, 143, 143, 0.2);
}

.logoContainer {
  width: 8rem;
  height: 8rem;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgb(165, 161, 161);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate3d(0, 1, 0, 180deg);
  animation: spinner 5s ease-in-out infinite;
  border-radius: 50%;
  flex-direction: column;

  background: radial-gradient(
    circle at 50% 120%,
    #055194,
    #062745 10%,
    #4b7ec8 80%,
    #3f6aa8 100%
  );
}
.logoContainer:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0.1) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

.logoPh {
  width: 100%;
  height: 100%;
}

.myUl {
  display: flex;
}

.myUl li {
  margin-left: 1.5rem;
}

.myBtn {
  font-size: 0.65rem;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-359deg);
  }
}
