:root {
  --r: 30rem;
  --m: 1rem;
}
body {
  font-family: "Bellota Text", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --pc: #18ffff;
  --pcm: #00bcd4;
  --pcl: #e0f7fa;
  --scd: #212121;
  --scm: #9e9e9e;
  --scl: #fafafa;
  --shadow: rgb(238, 236, 236);
  background: var(--scd);
  overflow: scroll;
}
* {
  font-size: 62.5%;
}

li {
  list-style: none;
}
